<!--发现界面模板-->
<ion-view id="registerorback" view-title="{{name}}" hide-nav-bar=true>
	<div class="header">
		<div class="back" ui-sref="login">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			{{name}}
		</div>
		<div  class="right" >
			
		</div>
	</div>
	
	<ion-content class="registerorback" has-bouncing=false>
		<form novalidate name="formregister">
			<div class="card list">
				<button ng-click="yzcode($event)" ng-disabled="disabled" class="button button-small">获取</button>
				<label class="item item-input">
		          <span class="input-label">手机号</span>
		          <input class="backphone" ng-model="submitData.Phone" type="tel" name="phone" required="" placeholder="请输入手机号" pattern="^1[0-9]{10}$">
		        </label>
				<label class="item item-input">
		          <span class="input-label">验证码</span>
		          <input ng-model="submitData.Msg" type="number" name="yz" required="" placeholder="请输入验证码">
		        </label>
				<label class="item item-input">
		          <span class="input-label">密码</span>
		          <input ng-model="submitData.Password" type="password" name="psw" required="" placeholder="请输入6-16位密码" pattern="^.{6,16}$">
		        </label>
				<label ng-if="name=='注册'" class="item item-input">
		          <span class="input-label">推荐号码</span>
		          <input ng-model="submitData.ParPhone" type="tel" name="parphone" placeholder="输入推荐人手机号(选填)" pattern="^1[0-9]{10}$">
		        </label>
			</div>
			
			<div class="card loginbtn">
				<div class="subbtn">
					<button ng-disabled="formregister.$invalid" ng-click="Done()" class="button button-calm">完成</button>
				</div>
			</div>
			<p ng-if="name=='注册'" class="expl">注册代表您默认接受 房田用户试用协议</p>
		</form>
	</ion-content>
</ion-view>