#zufangtd{
    .zufangtd{
        background-color: rgb(246,246,246);
        margin-top: 44px;
        .card{
            padding: 5px 12px 0;
            box-shadow: none;
            textarea{
                width: 100%;
                padding: 5px 0 0 5px;
            }
        }
    }
}
