<!--我的界面模板-->
<ion-view id="per_center"  view-title="我的" hide-nav-bar=true>
	
	<div ng-click="toggleOpen()" class="circle">
		<div class="ring">
			<span class="menuItem iconfont icon-home" ui-sref="tabs.ifHaveHouse({'query':homeTypeParams})"></span>
			<span class="menuItem iconfont icon-kehu"></span>
			<span class="menuItem iconfont icon-dianhua" ui-sref="tabs.chatList"></span>
			<span class="menuItem iconfont icon-wode" ui-sref="tabs.perCenter"></span>
		</div>
		<span class="center iconfont icon-jiahao1"></span>
	</div>
	<div ng-click="openNav()" class="dao-hang"><i class="iconfont icon-daohang"></i></div>
	
	
	<ion-content class="per-center" has-bouncing=false>
		<!-- <canvas width="100" height="100" id="testCanvas"></canvas> -->
		
		<div class="perinfo">
			<div ui-sref="tabs.myinfo" class="userinfo">
				<div ng-if="myinfo.ShowImg!=='/app/images/broker_logo.png'" class="img">
					<img class="headimg" ng-src="{{myinfo.ShowImg}}"/>
				</div>
				<div ng-if="myinfo.ShowImg=='/app/images/broker_logo.png'" class="img">
					<div class="noneimg">
						<i class="iconfont icon-touxiangx"></i>
					</div>
				</div>
				<div class="textinfo">
					<p class="name"><span ng-if="myinfo.Name">{{myinfo.Name}}</span><span ng-if="!myinfo.Name">房田用户<span>{{myinfo.Phone | limitTo:-6 }}</span></span></p>
					<p class="sign"><span ng-if="myinfo.Discription">{{myinfo.Discription}}</span><span ng-if="!myinfo.Discription">完善个性签名</span></p>
				</div>
			</div>
			<div ui-sref="tabs.openVip" class="vip">
				<div><i class="iconfont icon-viptehuishiduan"></i>vip会员</div>
			</div>
		</div>
		<div class="borderline"></div>
		<div class="performance">
			<ul>
				<li ui-sref="tabs.myHouses({'uid':22})">
					<h5>60</h5>
					<p>我的房源</p>
				</li>
				<li ui-sref="tabs.myFocus">
					<h5>250</h5>
					<p>我的关注</p>
				</li>
				<li ui-sref="tabs.mypoints">
					<h5>520</h5>
					<p>我的积分</p>
				</li>
			</ul>
		</div>
		
		<div class="offline"></div>
	    
	    <div class="borderline"></div>
	    <ul class="enterlist">
	    	<li ui-sref="tabs.myinfo">
	    		<div class="tubiao">
	    			<i class="iconfont icon-wodeziliao"></i>	    			
	    		</div>
	    		<p>我的资料</p>
	    	</li>
	    	<li ui-sref="tabs.myinfo">
	    		<div class="tubiao">
	    			<i class="iconfont icon-icon-chushou"></i>	    			
	    		</div>
	    		<p>我的账户</p>
	    	</li>
			<!-- <li ui-sref="tabs.myweidian({uid:uid})">
				<div class="tubiao">
					<i class="iconfont icon-weidian1"></i>
				</div>
				<p>我的房源</p>
			</li> -->
			<li ui-sref="tabs.myAgency({'uid':22})">
				<div class="tubiao">
					<i class="iconfont icon-icon-xinfang"></i>
				</div>
				<p>代理房源</p>
			</li>
	    	<!-- <li ui-sref="tabs.mypoints">
	    		<div class="tubiao">
	    			<i class="iconfont icon-jifen"></i>
	    		</div>
	    		<p>我的积分</p>
	    	</li> -->
	    	<li ui-sref="tabs.mypoints">
	    		<div class="tubiao">
	    			<i class="iconfont icon-wenhao"></i>
	    		</div>
	    		<p>我的任务</p>
	    	</li>
	    	<li ng-click="goRealname()">
	    		<div class="tubiao">
	    			<i class="iconfont icon-renzheng1"></i>
	    		</div>
	    		<p>实名认证</p>
	    	</li>
	    	<!-- <li ng-if="VStatus!==0 && VStatus!==undefined" ui-sref="tabs.checkprogress">
	    		<div class="tubiao">
	    			<i class="iconfont icon-renzheng1"></i>
	    		</div>
	    		<p>实名认证</p>
	    	</li>
	    	<li ng-if="VStatus==0 || !VStatus" ui-sref="tabs.minerenzheng">
	    		<div class="tubiao">
	    			<i class="iconfont icon-renzheng1"></i>
	    		</div>
	    		<p>实名认证</p>
	    	</li> -->
	    	<li ui-sref="tabs.refcode">
	    		<div class="tubiao">
	    			<i class="iconfont icon-jifen2"></i>
	    		</div>
	    		<p>房产认证</p>
	    	</li>
	    	<!-- <li>
	    		<div class="tubiao">
	    			<i class="iconfont icon-tongbu"></i>
	    		</div>
	    		<p>平台同步</p>
	    	</li>
	    	<li ui-sref="tabs.setting">
	    		<div class="tubiao">
	    			<i class="iconfont icon-shezhi "></i>
	    		</div>
	    		<p>更多设置</p>
	    	</li> -->
	    </ul>
	</ion-content>
</ion-view>