<!--消息界面模板-->
<ion-view id="agent_search" hide-nav-bar="true" view-title="">
	
	<div class="bar searchhouse-header item-input-inset">
	    <!--<button class="button icon-left ion-ios-search-strong button-clear button-small" ng-click="search(searchName)">-->
	    <!--</button>-->
	    <span class="goback" ng-if="!searchName.key.length" ng-click="goback()"><i class="iconfont icon-fanhuishangyiji"></i></span>
		<span class="item-input-wrapper" >
	     	<!-- <span class="housetype" ng-click="openPopover($event)">{{typechoose}}</span> -->
            <!-- <i class="iconfont icon--pulldown"></i> -->
			<i class="iconfont icon-sousuo2"></i>
		    <form>
	            <input type="search" placeholder="请输入经纪人姓名或电话" ng-model="searchName.key">
			    <button style="display: none" ng-click="search()"></button>
			</form>
            <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                   ng-click="clear()" ng-if="searchName.key.length"></i>
        </span>
	    <span class="search" ng-if="searchName.key.length" ng-click="search()">搜索</span>
	
	</div>
	
	
	<ion-content on-swipe-right="onSwipeRight()" class="agent-search" has-bouncing=false>
		
		<div class="card searchhistory ershou">
			<!--<h5>历史记录</h5>-->
			<ion-list>
				<ion-item ng-repeat="agenthistory in showAgentsearchHistory track by $index">
					<span class="lef" ui-sref="tabs.agentSearchResult({query:agenthistory})">{{agenthistory}}</span> <span class="rig" ng-click="DelAgentSearch($index)"><i class="iconfont icon-quxiao1"></i></span>
				</ion-item>
			</ion-list>
			<button ng-if="showAgentsearchHistory.length>0" ng-click="removeershouhistory()" class="button "><i class="iconfont icon-lajitong"></i>删除历史记录</button>
			
			<p ng-if="showAgentsearchHistory.length<1" class="nohistory">
				暂无搜索记录
			</p>
			
		</div>
		
		
	
	</ion-content>

</ion-view>



