#eqcode{
    .eqcode{
        margin-top: 44px;
        background-color: rgb(242,242,242);
        img{
            display: block;
            width:50vw;
            height:50vw;
            margin: 150px auto;
        }
    }
}
