<!--发现界面模板-->
<ion-view id="agreement" view-title="房田服务协议" hide-nav-bar=true>
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			房田服务协议
		</div>
		<div  class="right" >
			
		</div>
	</div>
		
	<!-- has-bouncing=false 不可滚动-->
	<ion-content class="agreement" has-bouncing=false>
		<h3>用户注册协议</h3>
                <h4>使用条件</h4>
                <p>
                 	   欢迎访问“房田网”（“本网站”）。用户在使用房田网的服务之前，应当仔细阅读本协议，并同意遵守本协议后方可成为房田网的用户，一旦注册成功，则用户与房田网之间自动形成协议关系，用户应当受本协议的约束。
                </p>
                <p>本网站的网络运营服务及其它服务（定义见下文）所包括的产品和服务由伍玖云（厦门）科技有限公司及其关联公司（包括伍玖云地产有限公司等）（简称“房田网” 或“我们”）向您提供。房田网服务指您访问本网站或在使用房田网产品或服务、使用房田网的移动客户端、或者使用房田网提供的与前述任一项相关的软件时房田网向您提供的产品和服务。</p>
                <h4>服务内容</h4>
                <p>我们向您提供不同类型的房田网服务。在一些情况下，除遵守本使用条件外，您还需要遵守额外的条款。您使用一项房田网服务（例如房田网APP、房田网经纪人后台、……等）时，您同时应接受适用于那些服务的使用条件、准则、条款和协议（以下统称为“服务条款”）。如果本使用条件与服务条款有不一致之处，则以服务条款为准。</p>
                <p>您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，房田网均不承担任何责任。房田网保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
                <h4>版权</h4>
                <p>房田网服务所包含或提供的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件都是房田网或其内容提供者的财产，受中华人民共和国著作权法的保护。房田网服务中包含的或通过房田网服务提供的所有内容的编译都是房田网的独有财产，受中华人民共和国著作权法的保护。</p>
                <h4>您的账户</h4>
                <p>如果您使用任何房田网服务，您应负责维护您的帐户和密码的保密性并限制第三方使用/访问您的计算机或移动设备，并且，您同意对在您的帐户和密码下发生的所有活动承担责任。房田网保留自行决定拒绝提供服务、关闭帐户、删除或编辑内容或取消订单的权利。如果您使用任何房田网服务，您应负责维护您的帐户和密码的保密性并限制第三方使用/访问您的计算机或移动设备，并且，您同意对在您的帐户和密码下发生的所有活动承担责任。</p>
                <p>为了能使用本服务，您同意以下事项：依本服务注册提示填写正确的手机号码和密码。若您提供任何违法、不道德或房田网认为不适合在房田网上展示的资料；或者房田网有理由怀疑你的资料属于程序或恶意操作，房田网有权暂停或终止您的账号，并拒绝您于现在和未来使用本服务之全部或任何部分。</p>
                <p>房田网无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、 正确性、完整性、适用性及是否为最新资料的责任。</p>

                <h4>合同缔结</h4>
                <p>房田网上展示的信息仅仅是某一使用者不特定的要约邀请，若要据此信息缔结合同并使其产生约束缔结方的效力，则合同缔结方需按房田网上的指示信息完成一系列的接触、洽谈，当缔结一方的要约获得另一方或其他相关方的承诺时，合同在承诺到达时成立。合同产生效力应依据中华人民共和国法律的规定产生效力。房田网并不负责要约或承诺的发出、撤回、撤销、到达，合同缔结方应自行对此负责，房田网所收到、发出、存储、删除的数据、信息均与此无任何关联。</p>
                <h4>隐私</h4>
                <p>房田网不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在房田网的非公开内容，但下列情况除外：</p>
                <div>
                
                		（1）事先获得用户的明确授权；<br />
                		（2）根据有关的法律法规要求；<br />
                		（3）按照相关政府主管部门的要求；<br />
                		（4）该第三方同意承担与房田网同等的保护用户隐私的责任；<br />
                
                </div>
                <h4>信息</h4>
                <p>我们努力使商品信息尽可能准确。但是，我们并不保证商品信息或本网站服务的其他内容是准确的、完整的、可靠的、最新的或无误的。</p>
                <h4>担保和责任限制的免责声明</h4>
                <p style="color:#ff6a00">
                    除非另有明确的书面说明，房田网服务及其所包含的或以其它方式通过房田网服务提供给您的全部信息、内容、材料、商品（包括软件）和其他服务，是在“现状”和 “现存”的基础上提供的。除非另有明确的书面说明，我们不对房田网服务的运营及包含在房田网服务内的信息、内容、材料、商品（包括软件）或服务作任何形式 的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的除外）。您明确同意自担风险使用房田网服务。
                    在适用法律所允许的最大限度内，我们不承诺所有明示或默示的担保，包括但不限于对适销性和满足特定目的的默示担保。我们不担保房田网服务、其所包含的或以其它方式通过房田网服务提供给您的全部 信息、内容、材料、商品（包括软件）和服务、其服务器或从本网站发出的电子信件没有病毒或其他有害成分。除非另有明确的书面说明，我们不对由于使用房田网服务、或由于其所包含的或以其它方式通过房田网服务提供给您的全部信息、内容、材料、商品（包括软件）和服务、或购买和使用产品引起的任何损害承担责任（除非根据中华人民共和国法律应承担责任的以外），包括但不限于直接、间接或附带的惩罚性和结果性的损害赔偿。
                </p>
                <h4>适用法律</h4>
                <p>通过使用任何房田网服务，您同意本使用条件以及您和本网站之间发生的任何争议均适用中华人民共和国法律。</p>
                <h4>争议</h4>
                <p>我们同意提交厦门仲裁委员会裁决。仲裁裁决是终局的，对双方都产生约束力。</p>
                <h4>网站政策、修改和可分性</h4>
                <p>请阅读本网站上发布的其他政策。这些政策同样适用于您对房田网服务的使用。我们保留在任何时候对本网站、政策、服务条款和本使用条件作出修改的权利。如果本使用条件中任何一条被视为废止、无效或因任何理由不可执行，该使用条件应视为可分割的且不影响任何其余条款的有效性和可执行性。</p>
                <div class="copy">
                    本协议解释权及修订权归伍玖云（厦门）科技有限公司所有。
                </div>
	</ion-content>
</ion-view>