#real_house{
    .header{
        background-color: rgb(246,246,246);
    }
    .real-house{
        background-color: rgb(255,255,255);
        height: 100%;
        margin-top: 44px;
       .card{
           box-shadow: none;
       } 
       .list{
           border: none;
           .input-label{
               padding: 7px 0 7px;
               font-size: 14px;
               width: 20vw!important;
               color: rgb(147,147,147);
           }
           .item-input{
               input{
                   font-size: 16px;
               }
           }
       }
       .idimage{
           padding: 20px 0 0;
           width: 100%;
           height: auto;
           img{
               margin: auto;
               display: block;
               width: 60vw;
               height: 38vw;
           }
       }

       .loginbtn{
           position: relative;
           background-color: rgb(255,255,255);
        //    border-top: 1px solid rgb(230,230,230);
           height: 100%;
           .subbtn{
               width: 100%;
               margin-top:70px ;
               padding: 20px 5vw 10px;
               .button{
                   width: 90vw;
                   background-color: rgb(65,160,255);
               }
           }
       }
    }
}
