#change_pwd{
    .header{
        .right{
           font-size: 14px;
           color: rgb(102,102,102);
        } 
    }
    .change-pwd{
        margin-top: 44px;
        background-color: rgb(250,250,250);
        padding: 0;
        .card{
            box-shadow: none;
        }
        
    }
   
}
