#ershoutd{
    .ershoutd{
        background-color: rgb(246,246,246);
        margin-top: 44px;
        .card{
            background-color: rgb(246,246,246);
            padding: 5px 12px 0;
            box-shadow: none;
            textarea{
                border-radius: 3px;
                width: 100%;
                padding: 5px 0 0 5px;
            }
        }
    }
}
