#renzhengmsg{
    .renzhengmsg{
        margin-top: 44px;
        .card{
            padding: 50px 12px 0;
            box-shadow: none;
            text-align: center;
            span.iconfont{
                color: green;
                font-size: 40px;
            }
            p{
               margin: 0; 
               font-size: 16px;
            }
            .success{
                color: rgb(51,51,51);
                margin: 10px 0 10px;
            }
            .ing{
                color: rgb(150,150,150);
                font-size: 14px;
            }
        }
    }
}
