<!--模板-->
<ion-view id="imgpreview" view-title="头像预览"  hide-nav-bar=true>
	<!--<ion-nav-buttons side="secondary">
		<a ng-click="show()" style="color: gray;font-size: 1.4rem;" class="button button-small button-icon " >更换</a>	
	</ion-nav-buttons>-->
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			头像预览
		</div>
		<div ng-click="show()" class="right" >
			更换
		</div>
	</div>
	
	<ion-content on-swipe-right="onSwipeRight()" class="imgpreview" has-bouncing=false>
		<!--ui-sref="tabs.imgcut({imgurl:122})"-->
		<img  src="{{userinfo.ShowImg}}" />
		<input style="display: none;" type="file" name="photo"  accept="image/*" autocomplete="off" />
	</ion-content>

</ion-view>