
<!--对话模板-->
<ion-view id="minerenzhengmsg" hide-nav-bar=true view-title="房源发布"  class='dark'>
	<!--<ion-nav-buttons side="secondary">
		<a  class="button button-small button-icon"  ng-click="openPopoverView($event)"><i style="color: gray;font-size: 25px!important;color: rgb(51,51,51);font-weight: 500;" class="iconfont icon-jiahao1"></i></a>	
	</ion-nav-buttons>-->
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			审核提交
		</div>
		<div class="right">
			
		</div>
	</div>
	
	<ion-content on-swipe-right="onSwipeRight()" class="minerenzhengmsg">
		
		<div class="card ">
			<span class="iconfont icon-tijiaochenggong"></span>
			<p class="success">提交成功</p>
			<p class="ing">我们将在24小时内给出审核结果，感谢您的配合！</p>
		</div>
		
	</ion-content>
	
</ion-view>

