
<!--对话模板-->
<ion-view id="add_rent" cache-view='false' view-title="{{headtitle}}" hide-nav-bar=true  class='dark'>
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			{{headtitle}}
		</div>
		<div class="right">
			
		</div>
	</div>
	
	<ion-content on-swipe-right="onSwipeRight()" class="add-rent">
		<div class="offline"></div>
		<div class="borderline"></div>
		<div class="card" ui-sref="tabs.zufangxiaoqu">
			<div class="tex">小区</div>
			<div class="right"><i class="icon ion-chevron-right"></i></div>
			<div class="cont">{{zufangxiaoqu}}</div>
		</div>
		<div class="borderline"></div>
		<div class="offline"></div>
		
		<div class="borderline"></div>
		<div class="card" ui-sref="tabs.zufangtd({name:'房源标题设置'})">
			<div class="tex">标题</div>
			<div class="right"><i class="icon ion-chevron-right"></i></div>
			<div class="cont">{{zufangtitle}}</div>
		</div>
		<div class="borderline"></div>
		<div class="card" ui-sref="tabs.zufangtd({name:'房源描述设置'})">
			<div class="tex">描述</div>
			<div class="right"><i class="icon ion-chevron-right"></i></div>
			<div class="cont">{{zufangdes}}</div>
		</div>
		<div class="borderline"></div>
		<div class="offline"></div>
		
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">租金</div>
			<div class="rightcell">元/月</div>
			<input class="cellinput" ng-model="publishdata.zujin" type="number" name="" id="" value=""placeholder="请输入租金" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">面积</div>
			<div class="rightcell">平米</div>
			<input class="cellinput" ng-model="publishdata.area" type="number" name="" id="" value=""placeholder="请输入面积" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">租房方式</div>
			<input ng-model="publishdata.zufang" class="picker zf-zufang" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">付款方式</div>
			<input ng-model="publishdata.pay" class="picker zf-fukuang" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="offline"></div>
		
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">房型</div>
			<input ng-model="publishdata.fangxing" class="picker zf-fangxing" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">楼层</div>
			<input ng-model="publishdata.louceng" class="picker zf-louceng" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">类型</div>
			<input ng-model="publishdata.type" class="picker zf-leixing" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">朝向</div>
			<input ng-model="publishdata.chaoxiang" class="picker zf-chaoxiang" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		<div class="card">
			<div class="tex">装修</div>
			<input ng-model="publishdata.zhuangxiu" class="picker zf-zhuangxiu" type="text" name="" id="" value="" />
		</div>
		<div class="borderline"></div>
		
		<div class="offline"></div>
		<div class="borderline"></div>
		<div class="card">
			配置
		</div>
		<div class="borderline"></div>
		<div class="card list">
			<ion-checkbox ng-repeat="item in devList"
                        ng-model="item.isChecked" 
                        ng-checked="item.isChecked">
				<i ng-if="item.value=='床'" class="iconfont icon-chuang"></i>
				<i ng-if="item.value=='衣柜'" class="iconfont icon-yigui"></i>
				<i ng-if="item.value=='书桌'" class="iconfont icon-shuzhuo"></i>
				<i ng-if="item.value=='沙发'" class="iconfont icon-shafa"></i>
				<i ng-if="item.value=='电视'" class="iconfont icon-dianshi"></i>
				<i ng-if="item.value=='冰箱'" class="iconfont icon-bingxiang"></i>
				<i ng-if="item.value=='洗衣机'" class="iconfont icon-xiyiji"></i>
				<i ng-if="item.value=='空调'" class="iconfont icon-kongtiao"></i>
				<i ng-if="item.value=='热水器'" class="iconfont icon-reshuiqi"></i>
				<i ng-if="item.value=='宽带'" class="iconfont icon-iconfontkuandai"></i>
				<i ng-if="item.value=='可做饭'" class="iconfont icon-webiconyunxuzuofan"></i>
				<i ng-if="item.value=='独卫'" class="iconfont icon-duwei"></i>
				<i ng-if="item.value=='阳台'" class="iconfont icon-31"></i>
				{{ item.value }}
          	</ion-checkbox>
			<!--<ion-checkbox ng-show="title=='修改'" ng-repeat="item in changedevList"
                        ng-model="item.checked" 
                        ng-checked="item.checked">
           	 {{ item.value }}
          	</ion-checkbox>-->
          
		</div>
		<div class="borderline"></div>
		
		<div class="offline"></div>
		<div class="card indoor" id="zufangIndoorImg">
				<h4>室内图</h4>
				<ul>
					<li ng-repeat="img in publishdata.IndoorShowImages">
						<img ng-src="{{img}}" alt="室内图"/>
						<span ng-click="remove($index)">x</span>
					</li>
					<li id="zufangchooseImg">
						<img src="imgs/add.png"/>
						<input  type="file" name="photo"  accept="image/*" autocomplete="off" />	
					</li>
				</ul>
				
				
			</div>
			<div class="card layout" id="zufangLayoutImg">
				<h4>房型图</h4>
				<ul>
					<li ng-repeat="img in publishdata.LayoutShowImages">
						<img ng-src="{{img}}" alt="房型图"/>
						<span ng-click="removelayout($index)">x</span>
					</li>
					<li id="zufangchooseLayoutImg">
						<img src="imgs/add.png"/>
						<input  type="file" name="photo"  accept="image/*" autocomplete="off" />	
					</li>
				</ul>
			</div>
			
			<div class="progress">
				<ul>
					<li class="big">
						<div class="top"><i class="iconfont icon-dianshi"></i></div>
						<p>线上发布</p>
					</li>
					<li class="small">
						<div class="top"></div>
						<p><i class="iconfont icon-gengduo"></i></p>
					</li>
					<li class="big">
						<div class="top"><i class="iconfont icon-shenhe01"></i></div>
						<p>审核</p>
					</li>
					<li class="small">
						<div class="top"></div>
						<p><i class="iconfont icon-gengduo"></i></p>
					</li>
					<li class="big">
						<div class="top"><i class="iconfont icon-icon-chushou"></i></div>
						<p>房源上架</p>
					</li>
					
				</ul>
			</div>
			<div class="twobutton">
				<div ng-click="publish()" class="public">发布</div>
				<div class="keyMake">一键制作</div>
			</div>
			<canvas style="display: none;" id="mycans" width="" height=""></canvas>
	</ion-content>
	
	<script id="rentGoLogin-modal" type="text/ng-template">
		<ion-modal-view id="rent_go_login_modal">
			<div class="img">
				<img ng-src="imgs/提交成功.png"/>
				<p class="suc">发布前需要实名认证</p>		
				<div ng-click="goLogin()" class="button">前往认证</div>
			</div>
		</ion-modal-view>
	</script>

</ion-view>

