<!--对话模板-->
<ion-view id="chushou" hide-nav-bar=true view-title="业主出售" class='dark'>
	<!--<ion-nav-buttons side="secondary">
		<a ui-sref="tabs.chushousub" style="color: gray;font-size: 1.4rem;" class="button button-small button-icon ">设置订阅</a>
	</ion-nav-buttons>-->
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			业主出售
		</div>
		<div ui-sref="tabs.chushousub" class="right" >
			设置订阅
		</div>
	</div>
	
	<ul class="toptwo">
		<li ng-click="move(0,$event)">订阅</li>
		<li ng-click="move(1,$event)">全部</li>
		<div class="line"></div>
	</ul>
	
	
	<!--回到顶部-->
	<div ng-if="toptwo=='订阅'" class="backtop" ng-click="subscrollTop()"><i class="iconfont icon-xiangshang"></i></div>
	<div ng-show="toptwo=='订阅'&&isSub!==''">
		<ion-content delegate-handle="subscroll" on-scroll="subScrollListen()" on-swipe-right="onSwipeRight()" class="chushou">
			
			<ion-refresher pulling-icon="" pulling-text="刷新" on-refresh="subdoRefresh(false)"></ion-refresher>
			<div class="card list">
				<ul>
					<li ng-repeat="chushoudata in subchushoudatarr" ui-sref="tabs.chushoudetail({id:chushoudata.Id})">
						<h4>{{chushoudata.Title}}</h4>
						<p class="area"><span>{{chushoudata.District}}</span><span class="second">{{chushoudata.Community}}</span></p>
						<div class="sandp">
							<div class="space">
								<span>{{chushoudata.HouseType}}</span><span class="second">{{chushoudata.Space}}平米</span>
							</div>
							<div class="price">
								<span>{{chushoudata.Price}}</span>万
							</div>
						</div>
						<div style="clear: both;"></div>
						<p class="from"><span>{{chushoudata.Source}}</span><span class="second">{{chushoudata.UpdateTime}}</span></p>
					</li>
				</ul>
			</div>
			
			<ion-infinite-scroll on-infinite="subloadMore(true)" distance="10%" ng-if="noMore" > </ion-infinite-scroll>
		</ion-content>	
	</div>
	
	
	<!--回到顶部-->
	<div ng-if="toptwo=='全部'" class="backtop" ng-click="allscrollTop()"><i class="iconfont icon-xiangshang"></i></div>
	<div ng-show="toptwo=='全部'">
		<ion-content delegate-handle="allscroll" on-scroll="allScrollListen()" on-swipe-right="onSwipeRight()" class="chushou">
			<ion-refresher pulling-icon="" pulling-text="刷新" on-refresh="alldoRefresh(false)"></ion-refresher>
			<div class="card list">
				<ul>
					<li ng-repeat="chushoudata in allchushoudatarr" ui-sref="tabs.chushoudetail({id:chushoudata.Id})">
						<h4>{{chushoudata.Title}}</h4>
						<p class="area"><span>{{chushoudata.District}}</span><span class="second">{{chushoudata.Community}}</span></p>
						<div class="sandp">
							<div class="space">
								<span>{{chushoudata.HouseType}}</span><span class="second">{{chushoudata.Space}}平米</span>
							</div>
							<div class="price">
								<span>{{chushoudata.Price}}</span>万
							</div>
						</div>
						<div style="clear: both;"></div>
						<p class="from"><span>{{chushoudata.Source}}</span><span class="second">{{chushoudata.UpdateTime}}</span></p>
					</li>
				</ul>
			</div>
		
			<ion-infinite-scroll on-infinite="allloadMore(true)" distance="10%" ng-if="noMore" > </ion-infinite-scroll>
		</ion-content>	
	</div>
	

	
	
</ion-view>