<!--发现界面模板-->
<ion-view id="real_name" view-title="实名认证" hide-nav-bar=true>
	<!--<ion-nav-buttons side="primary">
		<i ng-click="back()" class="icon ion-chevron-left" style="font-size: 25px;margin:7px 0 0 5px;"></i>
	</ion-nav-buttons>
	<ion-nav-buttons side="secondary">
		<a ui-sref="registerorback({name:'注册'})" style="color: gray;font-size: 1.4rem;" class="button button-small button-icon " >注册</a>	
	</ion-nav-buttons>-->
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			实名认证
		</div>
		<div class="right" >
			
		</div>
	</div>
	
	<!-- has-bouncing=false 不可滚动-->
	<ion-content class="real-name" has-bouncing=false>
		<form novalidate name="formlogin">
			<div class="card list">
				<label class="item item-input">
		          <!--<span class="input-label">x姓名</span>-->
		          <input type="text" name="name" ng-model="logininfo.Phone" required=""  placeholder="请输入姓名" pattern="^1[0-9]{10}$">
		        </label>
				<label class="item item-input">
		          <!--<span class="input-label">身份证</span>-->
		          <input type="number" name="psw" ng-model="logininfo.Password" required="" placeholder="请输入身份证号码" pattern="^.{6,16}$" >
		        </label>
			</div>
			<div class="idimage">
				<p>身份证照：</p>
				<img src="imgs/add.png"></img>
			</div>
			<div class="card loginbtn">
				
				<div class="subbtn">
					<button ng-disabled="formlogin.$invalid" ng-click="login()" class="button button-balanced">提交</button>
				</div>
			</div>
			
		</form>
	</ion-content>
	
</ion-view>