#findinfodetails{
    .active{
        color: red;
    }
    .findinfodetails{
        margin-top: 44px;
        background-color: rgb(246,246,246);
        .first{
            .card{
                box-shadow: none;
                padding: 0 12px 0;
            }
            .main{
                .article-time{
                    color: rgb(150,150,150);
                }
                padding: 0 12px 15px;
                h1{
                    color: rgb(17,17,17);
                    font-size: 20px;
                    margin: 15px 0 10px; 
                    
                }
                .ft{
                    display: none;
                }
                .tit-bar{
                        a{
                           display: none;
                        }
                }
                p{
                    text-indent: 2em;
                    font-size: 16px;
                    line-height: 25px;
                }
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            
             .adv{
               background-color: rgb(242,242,242); 
               padding: 15px 12px 25px;
               height: 200px;
               .botdiv{
                    width: 100%;
                    height: 30px;
                    .leftline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: left;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .rightline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: right;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .text{
                        width: 20%;
                        height: 30px;
                        float: left;
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        color: rgb(102,102,102);
                    }
               }
               .img{
                   width: 100%;
//                 height: auto;
                    height: 140px;
                   position: relative;
                   img{
                      width: 100%;
//                    height: auto; 
                       height: 100%;
                   }
                   .android{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       left: 0;
                       bottom: 0;
                   }
                   .ios{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       right: 0;
                       bottom: 0;
                   }
               }
            } 
             .myweidian{
                    padding: 20px 12px 20px;
                    background-color: rgb(246,246,246);
                    width: 100%;
                    height: 150px;
                    box-shadow: none;
                    .botdiv{
                        width: 100%;
                        height: 30px;
                        .leftline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: left;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .rightline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: right;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .text{
                            width: 20%;
                            height: 30px;
                            float: left;
                            font-size: 14px;
                            line-height: 30px;
                            text-align: center;
                            color: rgb(102,102,102);
                        }
                   }
                    .div{
                        position: relative;
                        background-color: rgb(255,255,255);
                        padding: 20px 12px 20px;
                        width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            float: left;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                        .description {
                            width: calc(100% - 110px);
                            height: 60px;
                            margin-left: 10px;
                            float: left;
                            color: white;
                            h3 {
                                margin: 10px 0 5px;
                                padding: 0;
                                color: rgb(51,51,51);
                                font-size: 16px;
                                font-weight: 400;
                                border: none;
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p {
                                font-size: 14px;
                                color: rgb(102,102,102);
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .look{
                            position: absolute;
                            top: 35px;
                            right: 10px;
                            width: 50px;
                            height: 30px;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 3px;
                            border: 1px solid rgb(89,171,253);
                            color:rgb(89,171,253) ;
                        }
                    }
             }   
        }
        .three{
            .card{
                box-shadow: none;
                padding: 0 12px 0;
            }
            .main{
                .time{
                    color: rgb(150,150,150);
                }
                padding: 0 12px 15px;
                p{
                    text-indent: 2em;
                    font-size: 16px;
                    line-height: 25px;
                }
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            .head{
                h4{
                    color: rgb(17,17,17);
                    font-size: 20px;
                    margin: 15px 0 10px;
                }
                p{
                    margin: 0 0 15px;
                    color: gray;
                    font-size: 14px;
                    .time{
                        margin-left: 15px;
                    }
                }
            } 
            .adv{
               background-color: rgb(242,242,242); 
               padding: 15px 12px 25px;
               height: 200px;
               .botdiv{
                    width: 100%;
                    height: 30px;
                    .leftline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: left;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .rightline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: right;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .text{
                        width: 20%;
                        height: 30px;
                        float: left;
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        color: rgb(102,102,102);
                    }
               }
               .img{
                   width: 100%;
//                 height: auto;
                    height: 140px;
                   position: relative;
                   img{
                      width: 100%;
//                    height: auto; 
                       height: 100%;
                   }
                   .android{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       left: 0;
                       bottom: 0;
                   }
                   .ios{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       right: 0;
                       bottom: 0;
                   }
               }
            } 
            .myweidian{
                    padding: 20px 12px 20px;
                    background-color: rgb(246,246,246);
                    width: 100%;
                    height: 150px;
                    box-shadow: none;
                    .botdiv{
                        width: 100%;
                        height: 30px;
                        .leftline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: left;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .rightline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: right;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .text{
                            width: 20%;
                            height: 30px;
                            float: left;
                            font-size: 14px;
                            line-height: 30px;
                            text-align: center;
                            color: rgb(102,102,102);
                        }
                   }
                    .div{
                        position: relative;
                        background-color: rgb(255,255,255);
                        padding: 20px 12px 20px;
                        width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            float: left;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                        .description {
                            width: calc(100% - 110px);
                            height: 60px;
                            margin-left: 10px;
                            float: left;
                            color: white;
                            h3 {
                                margin: 10px 0 5px;
                                padding: 0;
                                color: rgb(51,51,51);
                                font-size: 16px;
                                font-weight: 400;
                                border: none;
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p {
                                font-size: 14px;
                                color: rgb(102,102,102);
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .look{
                            position: absolute;
                            top: 35px;
                            right: 10px;
                            width: 50px;
                            height: 30px;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 3px;
                            border: 1px solid rgb(89,171,253);
                            color:rgb(89,171,253) ;
                        }
                    }
             }  
        }
        .xiaoshou{
            .card{
                box-shadow: none;
                padding: 0 12px 0;
            }
            .main{
                .time{
                    color: rgb(150,150,150);
                }
                padding: 0 12px 15px;
                img{
                    display: block;
                    width: 100%;
                    height: 180px;
                }
            }
            .head{
                h4{
                    color: rgb(51,51,51);
                    font-size: 16px;
                    margin: 15px 0 10px;
                }
                p{
                    margin: 0 0 15px;
                    color: rgb(51,51,51);
                    font-size: 16px;
                    line-height: 25px;
                }
            } 
            .adv{
                background-color: rgb(242,242,242); 
                padding: 15px 12px 25px;
                height: 200px;
                .botdiv{
                    width: 100%;
                    height: 30px;
                    .leftline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: left;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .rightline{
                        width: 40%;
                        height: 0;
                        margin-top: 15px;
                        float: right;
                        border-bottom: 1px solid rgb(221,221,221);
                    }
                    .text{
                        width: 20%;
                        height: 30px;
                        float: left;
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                        color: rgb(102,102,102);
                    }
               }
               .img{
                   width: 100%;
//                 height: auto;
                   height: 140px;
                   position: relative;
                   img{
                      width: 100%;
//                    height: auto; 
                       height: 100%;
                   }
                   .android{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       left: 0;
                       bottom: 0;
                   }
                   .ios{
                       width: 50%;
                       height: 50%;
                       position: absolute;
                       z-index: 999;
                       right: 0;
                       bottom: 0;
                   }
               }
            }
            .myweidian{
                    padding: 20px 12px 20px;
                    background-color: rgb(246,246,246);
                    width: 100%;
                    height: 150px;
                    box-shadow: none;
                    .botdiv{
                        width: 100%;
                        height: 30px;
                        .leftline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: left;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .rightline{
                            width: 40%;
                            height: 0;
                            margin-top: 15px;
                            float: right;
                            border-bottom: 1px solid rgb(221,221,221);
                        }
                        .text{
                            width: 20%;
                            height: 30px;
                            float: left;
                            font-size: 14px;
                            line-height: 30px;
                            text-align: center;
                            color: rgb(102,102,102);
                        }
                   }
                    .div{
                        position: relative;
                        background-color: rgb(255,255,255);
                        padding: 20px 12px 20px;
                        width: 100%;
                        height: 100%;
                        img {
                            display: block;
                            float: left;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                        .description {
                            width: calc(100% - 110px);
                            height: 60px;
                            margin-left: 10px;
                            float: left;
                            color: white;
                            h3 {
                                margin: 10px 0 5px;
                                padding: 0;
                                color: rgb(51,51,51);
                                font-size: 16px;
                                font-weight: 400;
                                border: none;
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p {
                                font-size: 14px;
                                color: rgb(102,102,102);
                                width: 100%;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .look{
                            position: absolute;
                            top: 35px;
                            right: 10px;
                            width: 50px;
                            height: 30px;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 3px;
                            border: 1px solid rgb(89,171,253);
                            color:rgb(89,171,253) ;
                        }
                    }
             }  
        }
        
    }
}
