#chat_list{
    .header{
        background-color: $bg-main-color;     
        .title{
            .switch{
                width: 100%;
                height: 100%;
                padding: 7px 0;
                .button{
                    width: 50%;
                    height: 30px;
                    float: left;
                    background-color: $bg-main-color;
                    border-color:#e6e6e6;
                }
                .button.activated{
                    background-color: #e6e6e6;
                    color: $bg-main-color;
                    border-color:$bg-main-color;
                }
                .button.clicked{
                    background-color: #e6e6e6;
                    color: $bg-main-color;
                    border-color:$bg-main-color;
                }
            }
        }
    }
    .dao-hang{
        position: fixed;
        z-index: 99;
        bottom:60px;
        right:15px;
        width: 39px;
        height: 39px;
        line-height:39px;
        text-align: center;
        border-radius: 50%;
        color: rgb(229, 240, 247);
        background-color: rgba(78, 127, 184, 0.9);
        i{
            position: relative;
            top: 2px;
            font-size: 20px;
        }
    }
    .chat-list{
        margin-top: 44px;
    }
}