
<!--对话模板-->
<ion-view id='sell_house_detail'  hide-nav-bar="true">
	
	
	
	<!--底部联系人-->
	<div class="contacts">
		<div ng-click="applyAgent()" class="agent">
			我要代理
		</div>
		<div class="comment">
			点评
		</div>
		<div class="chat" ng-click="goChat('老板')">
			聊天
		</div>
	</div>
	
	<ion-content class="sell-house-detail"  has-bouncing=false>
		<div class="backbotton btn" ng-click="back()"><i class="icon ion-chevron-left"></i></div>
		<div class="sharebotton btn" ng-click="openPopoverView($event)"><i class="iconfont icon-fenxiang1" style="font-size: 20px!important;"></i> </div>
		<!--分享缩略图-->
		<canvas style="display: none;" id="sell_house_detailmycans" width="100px" height="100px"></canvas>
		
		<div class="show">
			<div class="bannerposition">
				<ion-slide-box does-continue="true"  class="detailcursor" on-slide-changed='changeindex()'  delegate-handle='fydetail-handle'>
				  <ion-slide ng-repeat="banner in bannerarr track by $index">
				    <div class="box"><img ng-src="{{banner}}"/></div>
				  </ion-slide>
				</ion-slide-box>
				<div class="indexnum">{{currentindex}}/{{totalbanner}}</div>
			</div>
			
			<div class="card detailname">
				<h4>{{houseinfo.Title}}</h4>
				<div class="borderline"></div>
				<ul>
					<li>
						<p class="top">售价</p>
						<p class="bottom">{{houseinfo.Price}}万</p>
					</li>
					<li class="line"></li>
					<li>
						<p class="top">房型</p>
						<p class="bottom">{{houseinfo.RoomType}}室{{houseinfo.HallType}}厅{{houseinfo.BathType}}卫</p>
					</li>
					<li class="line"></li>
					<li>
						<p class="top">面积</p>
						<p class="bottom">{{houseinfo.Space}}m²</p>
					</li>
				</ul>
			</div>
			<div class="borderline"></div>
			<div class="card houseinfo">
				<ul>
					<li><span class="leftdesc">单价：</span>{{UnitPrice}} <span ng-if="!UnitPrice">--</span>元/m²</li>
					<li><span class="leftdesc">首付：</span>{{FirstPayment}} <span ng-if="!FirstPayment">--</span>万</li>
					<li><span class="leftdesc">月付：</span>{{Monthly}} <span ng-if="!Monthly">--</span>元</li>
					<li><span class="leftdesc">年代：</span>{{houseinfo.Year}}<span ng-if="!houseinfo.Year">--</span>年</li>
					<li><span class="leftdesc">朝向：</span>{{houseinfo.Orientation}}<span ng-if="!houseinfo.Orientation">--</span></li>
					<li><span class="leftdesc">楼层：</span><span ng-if="houseinfo.Floor<0">{{-houseinfo.Floor}}</span><span ng-if="houseinfo.Floor>=0">{{houseinfo.Floor}}</span>/{{houseinfo.TotalFloor}}<span ng-if="!houseinfo.Floor">--</span></li>
					<li><span class="leftdesc">装修：</span>{{houseinfo.Fitment}}<span ng-if="!houseinfo.Fitment">--</span></li>
					<li><span class="leftdesc">小区名称：</span>{{houseinfo.CommunityName}}<span ng-if="!houseinfo.CommunityName">--</span></li>
				</ul>
			</div>
			
			
			<div ng-show="houseinfo.Tags.length>0" class="offline"></div>
			<div ng-show="houseinfo.Tags.length>0" class="card fyliangdian">
				<h5>房源亮点</h5>
				<div>
					<span ng-repeat="Tag in houseinfo.Tags track by $index">{{Tag}}</span>
				</div>
			</div>
			<div ng-if="houseinfo.Discription&&!isobj" class="offline"></div>
			<div ng-if="houseinfo.Discription&&!isobj" class="card fymiaoshu">
				<h5>房源描述</h5>
				<p>{{houseinfo.Discription}}</p>
			</div>
			<div ng-if="houseinfo.Discription&&isobj" class="offline"></div>
			<div ng-if="houseinfo.Discription&&isobj" class="card fymiaoshu">
				<h5>房源描述</h5>
				<h6 ng-if="twodesc">核心卖点:</h6>
				<p ng-if="twodesc">{{onedesc}}</p>
				<h6 ng-if="onedesc">业主心态:</h6>
				<p ng-if="onedesc">{{twodesc}}</p>
				<h6 ng-if="threedesc">服务介绍:</h6>
				<p ng-if="threedesc">{{threedesc}}</p>
			</div>
			
			<div class="offline"></div>
			<div class="card fyposition">
				<h5>位置</h5>
				<p>{{houseinfo.CommunityAddress}}</p>
			</div>

			<div class="card commentlist">
				<h5>价值评测</h5>
				<ul>
					<li>
						<div class="head">
							<div class="son commentinfo">
								<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
								<div class="name">任大炮</div>
								<div style="clear:both;"></div>
							</div>
							<div class="son like">
								<i class="iconfont icon-zan"></i>520
							</div>
						</div>
						<div class="commentcontent">
							<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
						</div>
						<div class="foot">
							<div class="time">2018-2-8</div>
							<div ng-click="goReply()" class="reply">25回复</div>
						</div>
					</li>
					<li>
						<div class="head">
							<div class="son commentinfo">
								<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
								<div class="name">任大炮</div>
								<div style="clear:both;"></div>
							</div>
							<div class="son like">
								<i class="iconfont icon-zan"></i>520
							</div>
						</div>
						<div class="commentcontent">
							<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
						</div>
						<div class="foot">
							<div class="time">2018-2-8</div>
							<div ng-click="goReply()" class="reply">25回复</div>
						</div>
					</li>
					<li>
						<div class="head">
							<div class="son commentinfo">
								<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
								<div class="name">任大炮</div>
								<div style="clear:both;"></div>
							</div>
							<div class="son like">
								<i class="iconfont icon-zan"></i>520
							</div>
						</div>
						<div class="commentcontent">
							<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
						</div>
						<div class="foot">
							<div class="time">2018-2-8</div>
							<div ng-click="goReply()" class="reply">25回复</div>
						</div>
					</li>
					<li>
						<div class="head">
							<div class="son commentinfo">
								<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
								<div class="name">任大炮</div>
								<div style="clear:both;"></div>
							</div>
							<div class="son like">
								<i class="iconfont icon-zan"></i>520
							</div>
						</div>
						<div class="commentcontent">
							<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
						</div>
						<div class="foot">
							<div class="time">2018-2-8</div>
							<div ng-click="goReply()" class="reply">25回复</div>
						</div>
					</li>
				</ul>
			</div>

			<div ng-if="other.length>0" class="offline"></div>
			<div class="card hisonline" ng-if="other.length>0">
				<h5>TA的其他在售房源</h5>
				<ul>
					<!-- ui-sref="tabs.fydetail({id:otherhouse.Id,housetype:housetype})"-->
					<li ng-repeat="otherhouse in other track by $index" ui-sref="tabs.fydetail({id:otherhouse.Id,housetype:housetype})">
						<div class="img">
							<img ng-src="{{otherhouse.Thumb}}"/>
							<img ng-show={{otherhouse.Recommend}} class="zhutui" ng-src="imgs/主推.png"/>
						</div>
						<div class="description">
							<h6>{{otherhouse.Title}}</h6>
							<p>{{otherhouse.CommunityName}}</p>
							<div>
								<div class="space">
									{{otherhouse.HouseType}}&nbsp;{{otherhouse.Space}}平米 
								</div>
								<div class="price">
									<span>{{otherhouse.Price}}</span>万
								</div>
							</div>
							<p>
								<span ng-repeat="Tag in otherhouse.Tags track by $index">{{Tag}}</span>
							</p>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
		
		
		<div style="width: 100%;height: 50px;"></div>
		
		<!--分享浮动框 ion-popover-view-->
		<script id="sellHouseDetailpopover.html" type="text/ng-template">
			<ion-popover-view class="Bottom-share-popover">
				<ul>
					<li class="weixin" ng-click="share(0)">
						<div class="img">
							<img ng-src="imgs/微信.png"/>
						</div>
						<p>微信好友</p>
					</li>
					<li class="pengyouquan" ng-click="share(1)">
						<div class="img">
							<img ng-src="imgs/朋友圈.png"/>
							
						</div>
						<p>朋友圈</p>
					</li>
				</ul>
				<div style="clear: both;"></div>
				<h4 ng-click="closePopoverView($event)">取消</h4>
			</ion-popover-view>
		</script>
		
		<!-- 回复模态框 -->
		<script id="templates/sellHouseReplymodal.html" type="text/ng-template">
			<ion-modal-view>
			  <ion-header-bar class="bar bar-header bar-positive">
				<h1 class="title">25回复</h1>
				<button class="button button-clear button-primary" ng-click="modal.hide()">关闭</button>
			  </ion-header-bar>
			  <ion-content class="padding">
				<div class="list">
						<ul>
								<li>
									<div class="head">
										<div class="son commentinfo">
											<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
											<div class="name">任大炮</div>
											<div style="clear:both;"></div>
										</div>
										<div class="son like">
											<i class="iconfont icon-zan"></i>520
										</div>
									</div>
									<div class="commentcontent">
										<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
									</div>
									<div class="foot">
										<div class="time">2018-2-8</div>
										<div ng-click="goReply()" class="reply">25回复</div>
									</div>
								</li>
								<li>
									<div class="head">
										<div class="son commentinfo">
											<img src="http://ionicframework.com/img/docs/spengler.jpg"/>
											<div class="name">任大炮</div>
											<div style="clear:both;"></div>
										</div>
										<div class="son like">
											<i class="iconfont icon-zan"></i>520
										</div>
									</div>
									<div class="commentcontent">
										<p>小区环境优雅，周围配套设施齐全，孩子读书附近的中小学校离的进。我任大炮觉得这个小区的房子非常不错</p>
									</div>
									<div class="foot">
										<div class="time">2018-2-8</div>
										<div ng-click="goReply()" class="reply">25回复</div>
									</div>
								</li>
							</ul>
				  	<button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
				</div>
			  </ion-content>
			</ion-modal-view>
		  </script>
		
	</ion-content>
	
</ion-view>

