#like{
    .like{
        margin-top: 44px;
        .card{
            box-shadow: none;
            padding: 10vw;
            img{
                display: block;
                margin: 0;
                width: 80vw;
                height: 80vw;
            }
            .loveshare{
                margin-top: 20px;
                width: 80vw;
                height: 50px;
                text-align: center;
                line-height: 35px;
                display: flex;
                justify-content: space-around;
                .love{
                    width: 40%;
                    height: 100%;
//                  background-color: rgb(255,105,102);
                    background-color: rgb(230,75,0)!important;
                    color: rgb(255,255,255);
                    border-radius: 5px;
                }
                .share{
                    width: 40%;
                    height: 100%;
                    background-color: rgb(54,153,245);
                    color: rgb(255,255,255);
                    border-radius: 5px;
                }
            }
        }
    }
}
