
<!--对话模板-->
<ion-view id="if_have_house" hide-nav-bar=true view-title="房源发布"  class='dark'>
	
	<div ng-click="toggleOpen()" class="circle">
		<div class="ring">
			<span class="menuItem iconfont icon-home" ></span>
			<span class="menuItem iconfont icon-kehu" ui-sref="tabs.beAgent"></span>
			<span class="menuItem iconfont icon-dianhua" ui-sref="tabs.chatList"></span>
			<span class="menuItem iconfont icon-wode" ui-sref="tabs.perCenter"></span>
		</div>
		<span class="center iconfont icon-jiahao1"></span>
	</div>
	<div ng-click="openNav()" class="dao-hang"><i class="iconfont icon-daohang"></i></div>

	
	<div ng-click="closechoose()" class="bar searchhouse-header item-input-inset">
	    <span class="location" ng-click="getarea()">厦门<i class="iconfont icon-xialacaidanxiaosanjiao1"></i></span>
		
		<span ng-if="haveHouse" class="item-input-wrapper" ui-sref="tabs.clientSearch">
	     	<i class="iconfont icon-sousuo2"></i>
            <input type="search" placeholder="请输入客户名或需求" ng-model="searchName.key" ng-change="search(searchName.key)">
            <!--<i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                   ng-click="clear()" ng-if="searchName.key.length"></i>-->
		</span>
	    <span ng-if="!haveHouse" class="item-input-wrapper" ui-sref="tabs.houseSearch">
	     	<i class="iconfont icon-sousuo2"></i>
            <input type="search" placeholder="请输入小区名称或地址" ng-model="searchName.key" ng-change="search(searchName.key)">           
		</span>
		
		<span class="set" ui-sref="tabs.mySet"><i class="iconfont icon-shezhi"></i></span>
	</div>

	<div class="tabNav" style="position:absolute;bottom:0;width:100%;height:45px;z-index:1;">
		<ul ng-if="haveHouse" class="havehouse">
			<li class="lef" ui-sref="tabs.fbManage({type:0})">出售</li>
			<li class="mid">mid</li>
			<li class="rig" ui-sref="tabs.fbManage({type:1})">出租</li>
		</ul>
		<ul ng-if="!haveHouse" class="nohouse">
			<li class="lef" ui-sref="tabs.needManage({type:0})">买房</li>
			<li class="mid">mid</li>
			<li class="rig" ui-sref="tabs.needManage({type:1})">租房</li>
		</ul>
	</div>
	
	<ul class="topfour" >
	<!-- <ul class="topfour" ui-sref="tabs.chatList"> -->
		<li ng-click="openchoose(0)" ng-class="{true: 'nochoose', false: 'havechoose'}[querydata.district=='区域']"><div>{{querydata.district}} <span ng-if="querydata.area!==''">|{{querydata.area}}</span></div><i class="iconfont icon--pulldown"></i></li>
		<li ng-click="openchoose(1)" ng-class="{true: 'nochoose', false: 'havechoose'}[querydata.price=='售价']"><div>{{querydata.price}}</div><i class="iconfont icon--pulldown"></i></li>
		<li ng-click="openchoose(2)" ng-class="{true: 'nochoose', false: 'havechoose'}[querydata.type=='房型']"><div>{{querydata.type}}</div><i class="iconfont icon--pulldown"></i></li>
		<li ng-click="openchoose(3)" ng-class="{true: 'nochoose', false: 'havechoose'}[querydata.sort=='排序']"><div>{{querydata.sort}}</div><i class="iconfont icon--pulldown"></i></li>
	</ul>
	
	<!--模态层-->
	<div ng-click="closechoose()" class="mask"></div>
	<div class="pullchooselist first">
		<div class="bottom"></div>
		<div class="pulllist district">
			<ion-content>
				<ion-list>
					<ion-item ng-click="changeareaindex($index,$event)" ng-repeat="district in districtdata track by $index">{{district.district}}</ion-item>
				</ion-list>
			</ion-content>
			<div class="area" ng-if="areaindex>0" >
				<div class="bottom"></div>
				
				<ion-content delegate-handle="ershouareascroll">
						<ion-item ng-click="changearea(area,$event)" ng-repeat="area in districtdata[areaindex].area track by $index">{{area}}</ion-item>
				</ion-content>
			</div>
		</div>
	</div>
	<div class="pullchooselist second">
		<div class="pulllist price">
			<ion-content>
				<ion-list>
					<ion-item ng-click="changeprice($index,price,$event)" ng-repeat="price in pricedata track by $index">{{price}}</ion-item>
				</ion-list>
			</ion-content>
		</div>
	</div>
	<div class="pullchooselist third">
		<div class="pulllist type">
			<ion-content>
				<ion-list>
					<ion-item ng-click="changetype($index,type,$event)" ng-repeat="type in typedata track by $index">{{type}}</ion-item>
				</ion-list>
			</ion-content>
		</div>
	</div>
	<div class="pullchooselist forth">
		<div class="pulllist sort">
			<ion-content>
				<ion-list>
					<ion-item ng-click="changesort($index,sort,$event)" ng-repeat="sort in sortdata track by $index">{{sort}}</ion-item>
				</ion-list>
			</ion-content>
		</div>
	</div>
	

	<div ng-if="haveHouse" class="haveHouse">
		<ion-content delegate-handle="mainscroll" on-swipe-right="onSwipeRight()" on-swipe-down="onSwipeDown()" on-swipe-up="onSwipeUp()" class="if-have-house">
				<div ng-if="sellhousearr.length<1" class="card noresult">
					<div class="top">
						<span class="iconfont icon-fangdajingtubiao"></span>
					</div>
					<div class="bottom">
						<p>没有符合条件的结果，<span ng-click="reload()">清空条件</span></p>
					</div>
				</div>
				<!--未渲染完成-->
				<p ng-if="renderdone&&sellhousearr.length>0" class="loading">
					<ion-spinner icon="lines" class=""></ion-spinner>
				</p>
				
				<div ng-if="sellhousearr.length>0" class="card ershou">
					
					<ion-list>
							<ion-item on-finish-render-filters item="item" ng-click="closeoption($event)" ng-repeat="sellhouse in sellhousearr track by $index" ui-sref="tabs.alikehousedetail({id:sellhouse.Id,type:1})">
								<div class="img clientImg">
									<img ng-src="http://ionicframework.com/img/docs/spengler.jpg"/>
								</div>
								
								<div class="description">
									<h6>{{sellhouse.HouseType}}/{{sellhouse.Space}}平米</h6>
									<p>{{sellhouse.CommunityName}}</p>
									<div>
										<div class="space">
											<!-- {{sellhouse.HouseType}}&nbsp;{{sellhouse.Space}}平米  -->
										</div>
										<div class="price">
											<span>200~300</span>万
										</div>
									</div>
									<p>
										<span ng-repeat="Tag in sellhouse.Tags">{{Tag}}</span>
									</p>
								</div>
								
								<!-- <ion-option-button ng-click="closeoption($event)" ui-sref="tabs.alikehouse({minprize:sellhouse.Price,maxprize:sellhouse.Id,roomType:sellhouse.HouseType})">
									<div>
										相似<br />
										房源
									</div>
								</ion-option-button> -->
							</ion-item>
					</ion-list>
					
					<div style="clear: both;"></div>
					<p ng-show="baseLine" class="baseLine"><span>人家是有底线的啦</span></p>
				</div>
				<!--上拉加载-->
				<ion-infinite-scroll on-infinite="zufanglistloadMore(true)" distance="20%" ng-if="noMore" > </ion-infinite-scroll>
			
				
			</ion-content>
	</div>

	<div ng-if="!haveHouse" class="needHouse">
		<ion-content delegate-handle="mainscroll" on-swipe-right="onSwipeRight()" on-swipe-down="onSwipeDown()" on-swipe-up="onSwipeUp()" class="if-have-house">
			<div ng-if="sellhousearr.length<1" class="card noresult">
				<div class="top">
					<span class="iconfont icon-fangdajingtubiao"></span>
				</div>
				<div class="bottom">
					<p>没有符合条件的结果，<span ng-click="reload()">清空条件</span></p>
				</div>
			</div>
			<!--未渲染完成-->
			<p ng-if="renderdone&&sellhousearr.length>0" class="loading">
				<ion-spinner icon="lines" class=""></ion-spinner>
			</p>
			
			<div class="buyOrRent">
				<div ng-click="changeNeedType(0)" ng-class="{true:'active',false:''}[needType==0]" class="buy son">
					买房
				</div>
				<div ng-click="changeNeedType(1)" ng-class="{true:'active',false:''}[needType==1]" class="rent son">
					租房
				</div>
			</div>
			<div ng-if="sellhousearr.length>0" class="card ershou">
				<ion-list>
						<ion-item on-finish-render-filters item="item" ng-repeat="sellhouse in sellhousearr track by $index" ng-click="goSellDetail(sellhouse.Id)">
							<div class="img">
								<img ng-src="{{sellhouse.Thumb}}"/>
							</div>
							
							<div class="description">
								<h6>{{sellhouse.Title}}22</h6>
								<p>{{sellhouse.CommunityName}}</p>
								<div>
									<div class="space">
										{{sellhouse.HouseType}}&nbsp;{{sellhouse.Space}}平米 
									</div>
									<div class="price">
										<span>{{sellhouse.Price}}</span>万
									</div>
								</div>
								<p>
									<span ng-repeat="Tag in sellhouse.Tags">{{Tag}}</span>
								</p>
							</div>
							
							<!-- <ion-option-button ng-click="closeoption($event)" ui-sref="tabs.alikehouse({minprize:sellhouse.Price,maxprize:sellhouse.Id,roomType:sellhouse.HouseType})">
								<div>
									相似<br />
									房源
								</div>
							</ion-option-button> -->
						</ion-item>
				</ion-list>
				
				<div style="clear: both;"></div>
				<p ng-show="baseLine" class="baseLine"><span>人家是有底线的啦</span></p>
			</div>
			<!--上拉加载-->
			<ion-infinite-scroll on-infinite="zufanglistloadMore(true)" distance="20%" ng-if="noMore" > </ion-infinite-scroll>
		
			
		</ion-content>
	</div>

	
	
</ion-view>

