#if_have_house{
    background-image: url('../imgs/bg.png');
    .searchhouse-header{
<<<<<<< HEAD
        background-color: rgba(255,255,255,0.5);
=======
        background-image: url('../imgs/头.png');
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
        position: absolute;
        z-index: 1002;
        width: 100%!important;
        height: 44px!important;
        top: 0;
        padding: 10px 0!important;
        border-bottom: none!important;
        background-image: none;
        span.location{
            width: 20%;
            height: 40px;
            line-height: 40px;
            text-align: left;
            padding-left: 10px;
            color: rgb(255,255,255);
        }
        span.set{
            width: 10%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: rgb(255,255,255);
            .iconfont{
                font-size: 25px;
            }
        }
        span.item-min{
            width: 70%;
        }
        span.item-input-wrapper{
            width: 70%;
            height: 28px;
            text-align: center;
            // background-color: rgb(228,228,228);
            padding-left: 15%;
            i.icon-sousuo2{
               color:rgb(150,150,150);
               line-height: 28px;
            }
            input{
                padding-left: 10px;
            }
            input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:rgb(150,150,150);
            }
            input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color:rgb(150,150,150);
               opacity:  1;
            }
            input::-moz-placeholder { /* Mozilla Firefox 19+ */
               color:rgb(150,150,150);
               opacity:  1;
            }
            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
               color:rgb(150,150,150);
            }
        }
    }
<<<<<<< HEAD
    .slide-page-num{
        width: 100%;
        height: 10px;
        position: fixed;
        z-index: 1;
        bottom: 59px;
        ul{
            width: 40px;
            height: 10px;
            margin: auto;
            li{
                width: 10px;
                height: 10px;
                margin: 5px;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.3);
            }
            li.active{
                background-color: rgba(0,0,0,0.7);
            }
        }
    }
    .navTop{
        position: fixed;
        z-index: -1;
        bottom: 49px;
        width: 100%;
        height: 10px; 
        background-color: white;
        .left{
            background-image: url('../imgs/头.png');
            width: 50%;
            height: 10px;
            float: left;
            border-radius: 10px 0 0 50vw;
        }
        .right{
            background-image: url('../imgs/头.png');
            width: 50%;
            height: 10px;
            float: left;
            border-radius: 0 10px 50vw 0;
=======
    .tiantian{
        position: fixed;
        z-index: 1;
        right: 5px;
        top: 200px;
        img{
            display: block;
            width: 80px;
            height: 100px;
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
        }
    }
    .tabNav{
        position: fixed;
        bottom: 0;
        width: 100%;
<<<<<<< HEAD
        height: 49px;
        padding: 0;
        background-color: rgb(255,255,255);
        // border-radius: 10px 10px 0 0;
=======
        height: 50px;
        padding: 5px 0 0;
        background-color: #e6e6e6;
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
        ul{
            width: 100%;
            height: 100%;
            li{
                height: 100%;
                text-align: center;
<<<<<<< HEAD
                line-height: 50px;
=======
                // line-height: 45px;
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
                img{
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin: auto;
                }
                p{
                    margin: 0;
                    padding: 0;
<<<<<<< HEAD
                    height: 19px;
                    line-height: 19px;
                }
                .top{
                    margin: 5px auto 0;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: rgb(8,21,53);
                    color: white;
                    .iconfont{
                        font-size: 25px;
                    }
                    .iconfont:before{
                        line-height: 1;
                    }
=======
                    height: 15px;
                    line-height: 15px;
                    text-align: center;
                    line-height: 15px;
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
                }
            }
            .rig{
                width: 35%;
            }
            .lef{
                width: 35%;
            }
            .mid{
                width: 30%;
            }
        }
    }
// 助手

    .tiantian{
        position: fixed;
        z-index: 1;
        top: 200px;
        right: -50px;
        width: 80px;
        .search{
            display: none;
            position: absolute;
            top: 25px;
            left: -35px;
            width: 45px;
            height: 30px;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            background-color: rgba(102,102,102,0.5);
            border-radius: 10px;
            color: white;
            .iconfont:before{
                line-height: 1;
            }

            span {  
                width:0;   
                height:0;   
                font-size:0;   
                overflow:hidden;   
                position:absolute;
                &.bot{  
                    border-width: 15px;   
                    border-style: solid dashed dashed;   
                    border-color:transparent transparent transparent rgba(102,102,102,0.5) ;   
                    left: 15px;   
                    top: -29px;  
                }  
                &.top{  
                    border-width:13px;   
                    border-style:solid dashed dashed;   
                    border-color: transparent transparent transparent rgba(102,102,102,0.5);   
                    left:17px;   
                    top:-25px;  
                }  
            } 
            
        }
        .search.active{
            display: block;
        }
        .upimg{
            position: absolute;
            z-index: 2;
            width: 80px;
            height: 80px;
            display: none;
        }
        img{
            display: block;
            width: 80px;
            height: 80px;
        }
        ul{
            width: 100%;
            height: 0px;
            overflow: hidden;
            background-color: rgba(114,200,201,0.7);
            li{
                width: 100%;
                height: 0px;
                color: white;
                p{
                    margin: 5px auto;
                    width: 80%;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    background-color: rgba(0,0,0,0.3);
                    color: white;
                    // border:1px solid rgba(102,102,102,0.3);
                    border-radius: 3px;
                }
            }
            div{
                color: white;
                width: 100%;
                p{
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    height: 0px;
                    line-height: 20px;
                }
            }
        }
    }

    // .topfour{
    //     width: 100%;
    //     height: 40px;
    //     top: 43px;
    //     position: absolute;
    //     background-color: rgb(246,246,246);
    //     border-top: none;
    //     border-bottom: 1px solid rgb(230,230,230);
    //     z-index: 1001;
    //     li{
    //         width: 25%;
    //         text-align: center;
    //         padding: 0 10px 0;
    //         height: 40px;
    //         font-size: 16px;
    //         line-height: 40px;
    //         color: rgb(102,102,102);
    //         div{
    //             display: inline-block;
    //             word-break:keep-all;
    //             white-space:nowrap;
    //             overflow:hidden; 
    //             text-overflow:ellipsis; 
    //             text-align: center;
    //             height: 100%;
    //             max-width: 85%;
    //             //float: left;
    //         }
    //         i.icon--pulldown{
    //             position: relative;
    //             display: inline-block;
    //             width: 15%;
    //             text-align: center;
    //             height: 100%;
    //             top:-15px;
    //             color: rgb(102,102,102);
    //             //display:block;
    //             //float: left;
    //         }
    //     }
    //     li.havechoose{
    //         color: rgb(65,160,255);
    //         i.icon--pulldown{
    //             color: rgb(65,160,255);
    //         }
    //     }
      
    // }

    //下拉选框
    // .mask{
    //     width: 100%;
    //     height: calc(100% - 44px);
    //     background-color: rgba(0,0,0,0.3);
    //     display: none;
    //     position: absolute;
    //     z-index: 1000;
    //     top: 44px;
    // }
    // .mask.open{
    //     display:block;
    // }
    // .pullchooselist{
    //     .scroll-bar{
    //         display: none;
    //     }
    //     width: 100%;
    //     height: 300px;
    //     position: absolute;
    //     z-index:1001;
    //     top: 83px;
    //     background-color:rgb(255,255,255);
    //     display: none;
        
    //     .bottom{
    //         position: absolute;
    //         z-index: 1002;
    //         bottom: -2px;
    //         width: 100%;
    //         height: 15px;
    //         background-color: rgb(255,255,255);
    //     }
    //     div{
    //         height: 100%;
    //         border: none;
    //         .area{
    //           width: 50%;
    //           height: 100%;
    //           position: absolute;
    //           right: 0;
    //           top: 1px;
    //           border-left: 1px solid rgb(230,230,230);  
    //           background-color: rgb(246,246,246);
    //           .bottom{
    //                 position: absolute;
    //                 z-index: 1003;
    //                 bottom: -1px;
    //                 width: 100%;
    //                 height: 15px;
    //                 background-color: rgb(246,246,246);
    //             }
    //           .scroll-content{
    //                 margin:0 0 0 12px;
    //                 .item{
    //                     padding: 12px 16px 12px 0;
    //                     color: rgb(102,102,102);
    //                     background-color: rgb(246,246,246);
    //                     border-color: rgb(230,230,230);
    //                 }
    //                 .item.clicked{
    //                     color: rgb(65,160,255);
    //                 }
    //                 .item.activated{
    //                     background-color: rgb(246,246,246);
    //                     color: rgb(65,160,255);
    //                 }
    //                 .item:last-child{
    //                     border-bottom: none;
    //                 }
    //                 .item:first-child{
    //                     border-top: none;
    //                 }
                  
    //           }
    //         }
    //         .scroll-content{
    //             margin:0 0 0 12px;
    //             padding: 0 0 30px;
    //            .list{
    //                .item{
    //                    color: rgb(102,102,102);
    //                    padding: 12px 16px 12px 0;
    //                    border-color: rgb(230,230,230);
    //                }
    //                .item.clicked{
    //                   color: rgb(65,160,255);
    //               }
    //                .item.activated{
    //                   background-color: rgb(255,255,255);
    //                   color: rgb(65,160,255);
    //               }
    //                .item:last-child{
    //                    border-bottom: none;
    //                }
    //                .item:first-child{
    //                    border-top: none;
    //                }
    //            }
    //         }
    //     }
    // }
    .dao-hang{
        position: fixed;
        z-index: 99;
        bottom:60px;
        right:15px;
        width: 39px;
        height: 39px;
        line-height:39px;
        text-align: center;
        border-radius: 50%;
        color: rgb(229, 240, 247);
        background-color: rgba(78, 127, 184, 0.9);
        i{
            position: relative;
            top: 2px;
            font-size: 20px;
        }
    }
    
    .if-have-house{
<<<<<<< HEAD
        padding: 0;
        margin: 44px 0 49px;
=======
        margin-top: 44px;
        .headimg{
            width: 100%;
            img{
                display: block;
                width: 100%;
                height: 54vw;
            }
        }
        .card{
            box-shadow: none;
        }
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
        p.loading{
            margin: 100px 0 100px;
            font-size: 50px;
            text-align: center;
            .spinner svg {
              width: 60px !important;
              height: 60px !important;
            }
        }
        .buyOrRent{
            width: 50%;
            margin: auto;
            height: 35px;
            .son{
                width: 50%;
                float: left;
                height: 35px;
                line-height: 35px;
                text-align: center;
                padding: 0;
                color: rgb(102, 102, 102);
            }
            .active{
                color: white;
                background-color: rgb(8,21,53)
            }
            .buy{
                border-radius: 10px 0 0 10px;
                border:1px solid gray;
            }
            .rent{
                border-radius: 0 10px 10px 0;
                border:1px solid gray;
            }
        }
        .ershou{
            .headimg{
                width: 100%;
                height: 50vw;
                padding: 5px 0 0;
                background-color: rgba(255,255,255,0.5);
                img{
                    display: block;
                    margin: auto;
                    border-radius: 10px;
                    width: 95%;
                    height: 47vw;
                }
            }
            .underhead{
                width: 100%;
                height: 10px; 
                background-color: rgba(255,255,255,0.5);
                .left{
                    background-image: url('../imgs/头.png');
                    width: 50%;
                    height: 10px;
                    float: left;
                    border-radius: 10px 0 0 0;
                }
                .right{
                    background-image: url('../imgs/头.png');
                    width: 50%;
                    height: 10px;
                    float: left;
                    border-radius: 0 10px 0 0;
                }
            }
            //底线
            background-color: rgba(255,255,255,0);
            p.baseLine{
                margin: 0;
                padding: 15px 12px 15px;
                background-color: rgb(246,246,246);
                span {
                    text-align: center;
                    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
                    font-size: 14px;
                    color: #969696;
                    position: relative;   /*定位横线（当横线的父元素）*/
                }
                span:before{
                    content: '';                 /*CSS伪类用法*/
                    position: absolute;         /*定位背景横线的位置*/
                    top: 52%;
                    background: #e6e6e6;       /*宽和高做出来的背景横线*/
                    width: 28%;
                    height: 1px;
                }
                span:after {
                    content: '';                 /*CSS伪类用法*/
                    position: absolute;         /*定位背景横线的位置*/
                    top: 52%;
                    background: #e6e6e6;       /*宽和高做出来的背景横线*/
                    width: 28%;
                    height: 1px;
                }
                span:before{
                    left: 0;        /*调整背景横线的左右距离*/
                }
                span:after {
                    right: 0;
                }
            }
            .list{
                padding-left: 6px;
                padding-right: 6px;
                .item:last-child{
                    .item-content{
                        border-bottom: none;
                    }
                }
                .item{
                    border-radius: 10px;
                    border: none;
                    margin: 0 0 8px;
                    box-shadow: 0 6px 5px #000;
                    .item-content.activated{
                        background-color: rgb(246,246,246);
                    }
                    .item-content{
                        width: 100%;
                        padding: 12px 12px 12px 0;
                        border-bottom: 1px solid rgb(230,230,230);
                        .img{
                            width: 35vw;
                            height: auto;
                            float: left;
                            position: relative;
                            img{
                                display: block;
                                margin: auto;
                                border-radius: 50%;
                                width: 85px;
                                height: 85px;
                            }
                            .tag{
                                position: absolute;
                                z-index: 1;
                                top: 5px;
                                left: 15px;
                                width: 60px;
                                height: 20px;
                                border-radius: 10px;
                                .left{
                                    width: 40px;
                                    height: 20px;
                                    border-radius: 5px 0 0 5px;
                                    float: left;
                                    text-align: center;
                                    line-height: 20px;
                                    background-color:rgb(255,204,52);
                                }
                                .right{
                                    float: left; 
                                    border-left:10px solid rgb(255,204,52);
                                    border-top:10px solid rgb(255,204,52);
                                    border-bottom:10px solid rgb(255,204,52);
                                    border-right:10px solid rgba(0,0,0,0);
                                }
                            } 
                        }

                        .description{
                            float: left;
                            width: calc(65vw - 38px);
                            margin-left: 10px;
                            h6{
                                color: $font-main-color;
                                font-size:16px;
                                height: 20px;
                                line-height: 20px;
                                margin: 0;
                                word-break:keep-all;
                                white-space:nowrap;
                                overflow:hidden; 
                                text-overflow:ellipsis;
                            }
                            p{
                                width: 100%;
                                margin: 0;
                                font-size: 14px;
                                height: 20px;
                                overflow: hidden;
                                color: $font-minor-color;
                                span{
                                    border-radius: 2px;
                                    font-size: 12px;
                                    padding: 2px 3px 2px;
                                    // background-color:rgb(230,242,255) ;
                                    // color: rgb(89,171,253);
                                    color: $font-sup-color;
                                    margin-right: 3px;
                                } 
                            }
                            div{
                                font-size: 14px;
                                color: rgb(150,150,150);
                                width: calc(65vw - 38px);
                                .space{
                                    float: left;
                                    height: 25px;
                                    line-height: 25px;
                                    width: 65%;
                                    word-break:keep-all;
                                    white-space:nowrap;
                                    overflow:hidden; 
                                    text-overflow:ellipsis;
                                }
                                .price{
                                        text-align: right;
                                        float: right;
                                        height: 25px;
                                        line-height: 25px;
                                        width: 35%;
                                        color: rgb(230,75,0);
                                        word-break:keep-all;
                                        white-space:nowrap;
                                        overflow:hidden; 
                                        text-overflow:ellipsis;
                                        span{
                                            font-size: 16px;
                                            font-weight: 600;
                                        }
                                    }
                            }
                        }
                    
                    }
                    .item-options{
                        .button{
                            background-color: rgb(65,160,255);
                            color: rgb(255,255,255);
                            padding: 0 24px 0;
                            div{
                                line-height: 20px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        //搜索无结果
        .noresult{
            padding: 50px 30px 0;
            height: 130px;
            .top{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                .iconfont{
                    font-size: 40px;
                    color: rgb(150,150,150);
                }
            }
            .bottom{
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                color: rgb(150,150,150);
                span{
                    color: rgb(65,160,255);
                }
            }
           
        }
        
    }
    //大屏
    .plus{
<<<<<<< HEAD
        padding: 0;
        margin-top: 44px 0 49px;
=======
        margin-top: 44px;
        .headimg{
            width: 100%;
            img{
                display: block;
                width: 100%;
                height: 54vw;
            }
        }
        .card{
            box-shadow: none;
        }
>>>>>>> 081916c385fd68810a38d2d340f8fd490b7802a6
        p.loading{
            margin: 100px 0 100px;
            font-size: 50px;
            text-align: center;
            .spinner svg {
              width: 60px !important;
              height: 60px !important;
            }
        }
        .buyOrRent{
            width: 50%;
            margin: auto;
            height: 35px;
            .son{
                width: 50%;
                float: left;
                height: 35px;
                line-height: 35px;
                text-align: center;
                padding: 0;
                color: rgb(102, 102, 102);
            }
            .active{
                color: white;
                background-color: rgb(8,21,53)
            }
            .buy{
                border-radius: 10px 0 0 10px;
                border:1px solid gray;
            }
            .rent{
                border-radius: 0 10px 10px 0;
                border:1px solid gray;
            }
        }
        .ershou{
            background-color: rgba(255,255,255,0);
            .headimg{
                width: 100%;
                height: 50vw;
                background-color: rgba(255,255,255,0.5);
                img{
                    display: block;
                    margin: auto;
                    border-radius: 10px;
                    width: 95%;
                    height: 47vw;
                }
            }
            .underhead{
                width: 100%;
                height: 10px; 
                background-color: rgba(255,255,255,0.5);
                .left{
                    background-image: url('../imgs/头.png');
                    width: 50%;
                    height: 10px;
                    float: left;
                    border-radius: 10px 0 0 0;
                }
                .right{
                    background-image: url('../imgs/头.png');
                    width: 50%;
                    height: 10px;
                    float: left;
                    border-radius: 0 10px 0 0;
                }
            }
            //底线
            p.baseLine{
                margin: 0;
                padding: 15px 12px 15px;
                background-color: rgb(246,246,246);
                span {
                    text-align: center;
                    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
                    font-size: 14px;
                    color: #969696;
                    position: relative;   /*定位横线（当横线的父元素）*/
                }
                span:before{
                    content: '';                 /*CSS伪类用法*/
                    position: absolute;         /*定位背景横线的位置*/
                    top: 52%;
                    background: #e6e6e6;       /*宽和高做出来的背景横线*/
                    width: 28%;
                    height: 1px;
                }
                span:after {
                    content: '';                 /*CSS伪类用法*/
                    position: absolute;         /*定位背景横线的位置*/
                    top: 52%;
                    background: #e6e6e6;       /*宽和高做出来的背景横线*/
                    width: 28%;
                    height: 1px;
                }
                span:before{
                    left: 0;        /*调整背景横线的左右距离*/
                }
                span:after {
                    right: 0;
                }
            }
            .list{
                padding-left: 6px;
                padding-right: 6px;
                .item:last-child{
                    .item-content{
                        border-bottom: none;
                    }
                }
                .item{
                    border-radius: 10px;
                    border: none;
                    margin: 0 0 8px;
                    box-shadow: 0 6px 5px #000;
                    .item-content.activated{
                        background-color: rgb(246,246,246);
                    }
                    .item-content{
                        width: 100%;
                        padding: 12px 12px 12px 0;
                        border-bottom: 1px solid rgb(230,230,230);
                        .img{
                            width: 28vw;
                            height: auto;
                            float: left;
                            position: relative;
                            img{
                                display: block;
                                margin: auto;
                                border-radius: 50%;
                                width: 85px;
                                height: 85px;
                            } 
                            .tag{
                                position: absolute;
                                z-index: 1;
                                top: 5px;
                                left: 15px;
                                width: 60px;
                                height: 20px;
                                border-radius: 10px;
                                .left{
                                    width: 40px;
                                    height: 20px;
                                    border-radius: 5px 0 0 5px;
                                    float: left;
                                    text-align: center;
                                    line-height: 20px;
                                    background-color:rgb(255,204,52);
                                }
                                .right{
                                    float: left; 
                                    border-left:10px solid rgb(255,204,52);
                                    border-top:10px solid rgb(255,204,52);
                                    border-bottom:10px solid rgb(255,204,52);
                                    border-right:10px solid rgba(0,0,0,0);
                                }
                            }
                        }

                        .description{
                            float: left;
                            width: calc(72vw - 38px);
                            margin-left: 10px;
                            h6{
                                color: $font-main-color;
                                font-size:16px;
                                height: 20px;
                                line-height: 20px;
                                margin: 0;
                                word-break:keep-all;
                                white-space:nowrap;
                                overflow:hidden; 
                                text-overflow:ellipsis;
                            }
                            p{
                                width: 100%;
                                margin: 0;
                                font-size: 14px;
                                height: 20px;
                                overflow: hidden;
                                color: $font-minor-color;
                                span{
                                    border-radius: 2px;
                                    font-size: 12px;
                                    padding: 2px 3px 2px;
                                    background-color:rgb(230,242,255) ;
                                    color: $font-sup-color;
                                    margin-right: 3px;
                                } 
                            }
                            div{
                                font-size: 14px;
                                color: rgb(150,150,150);
                                width: calc(72vw - 38px);
                                .space{
                                    float: left;
                                    height: 25px;
                                    line-height: 25px;
                                    width: 65%;
                                    word-break:keep-all;
                                    white-space:nowrap;
                                    overflow:hidden; 
                                    text-overflow:ellipsis;
                                }
                                .price{
                                        text-align: right;
                                        float: right;
                                        height: 25px;
                                        line-height: 25px;
                                        width: 35%;
                                        color: rgb(230,75,0);
                                        word-break:keep-all;
                                        white-space:nowrap;
                                        overflow:hidden; 
                                        text-overflow:ellipsis;
                                        span{
                                            font-size: 16px;
                                            font-weight: 600;
                                        }
                                    }
                            }
                        }
                    
                    }
                    .item-options{
                        .button{
                            background-color: rgb(65,160,255);
                            color: rgb(255,255,255);
                            padding: 0 24px 0;
                            div{
                                line-height: 20px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        //没搜索到结果
        .noresult{
           padding: 50px 30px 0;
            height: 130px;
            .top{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                .iconfont{
                    font-size: 40px;
                    color: rgb(150,150,150);
                }
            }
            .bottom{
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                color: rgb(150,150,150);
                span{
                    color: rgb(65,160,255);
                }
            }
        }
        
    }
}
